[Unit]
Description=Project Zomboid - Hourly Data Backup
After=zomboid.service

[Service]
Type=oneshot
ExecStart=%h/pzmanager/scripts/backup/dataBackup.sh
StandardOutput=journal
StandardError=journal
