[Unit]
Description=Project Zomboid - Whitelist Creation Date Init

[Service]
Type=oneshot
ExecStart=/home/pzuser/pzmanager/scripts/admin/creationDateInit.sh
StandardOutput=journal
StandardError=journal
