[Unit]
Description=Project Zomboid - Whitelist Creation Date Init Timer

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target
