[Unit]
Description=Project Zomboid - Whitelist Creation Date Init

[Service]
Type=oneshot
ExecStart=%h/pzmanager/scripts/admin/creationDateInit.sh
StandardOutput=journal
StandardError=journal
