[Unit]
Description=Project Zomboid - Check for Mod Updates
After=zomboid.service

[Service]
Type=oneshot
ExecStart=%h/pzmanager/scripts/admin/triggerMaintenanceOnModUpdate.sh
StandardOutput=journal
StandardError=journal
