[Unit]
Description=Project Zomboid - Daily Maintenance

[Service]
Type=oneshot
ExecStart=/home/pzuser/pzmanager/scripts/admin/performFullMaintenance.sh --silent
StandardOutput=journal
StandardError=journal
