[Unit]
Description=Project Zomboid Server
After=network.target zomboid.socket
Requires=zomboid.socket
Wants=zomboid_logger.service

[Service]
Type=simple
PrivateTmp=true
WorkingDirectory=%h/pzmanager/data/pzserver/
ExecStart=/bin/sh -c "exec %h/pzmanager/data/pzserver/start-server.sh -cachedir=%h/pzmanager/Zomboid <> %h/pzmanager/data/pzserver/zomboid.control"
ExecStartPost=-/bin/sh -c "%h/pzmanager/scripts/internal/notifyServerReady.sh &"
ExecStop=/bin/sh -c "echo 'quit' > %h/pzmanager/data/pzserver/zomboid.control"
KillSignal=SIGCONT
TimeoutStopSec=30

[Install]
WantedBy=default.target
