[Unit]
Description=Project Zomboid Server Control Socket
PartOf=zomboid.service
Before=zomboid.service

[Socket]
ListenFIFO=%h/pzmanager/data/pzserver/zomboid.control
FileDescriptorName=control
SocketMode=0660
SocketUser=%u
ExecStartPre=/bin/rm -f %h/pzmanager/data/pzserver/zomboid.control
RemoveOnStop=true
