[Unit]
Description=Logger pour Project Zomboid
PartOf=zomboid.service
After=zomboid.service

[Service]
Type=simple
ExecStart=%h/pzmanager/scripts/internal/captureLogs.sh
Restart=always
RestartSec=5
